@model IEnumerable<CentricProject.Models.userDetails>

@{
    ViewBag.Title = "Index";
}

<h2>User Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
  
<div class="form-horizontal">
    <div class="form-group">
        <div class="input-group">
                @using (Html.BeginForm("Index", "userDetails", FormMethod.Get))
                {
                    <p>
                    Search by name: @Html.TextBox("searchString", null, new {@class="form-control"})
                        <span>
                            <input class="btn btn-primary btn-sm" type="submit" value="Search" />
                        </span>
                    </p>
                }       
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anniversary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yearsWithCentric)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anniversary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yearsWithCentric)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
